<header>
    <div class="section1">
    <div class="logo">
         <h3>Hotel Tiago</h3>
    </div>
   <nav>
       <h3>Recently Viewed</h3>
       <h3>Favourites</h3>
       <h3>Login</h3>
       <div class="menu"><h3>Menu</h3></div>
   </nav>
</div>
<div class="section2">
    <div class="subsection">
        <div class="destinationbar">
            <img src="/static/Assets/search-512.webp" width="30" height="30">
            <div class="destinationinput">
                <h3>Destination</h3>
                <input type="text" placeholder="Where to go?"/>
            </div>
         </div>
    </div>
    <div class="subsection">
            <input type="date"/>
            <input type="date"/>
    </div>
    <div class="subsection"><h3>Login</h3></div>
</div>
</header>